.input-component {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0;
}

.input-component.invalid input {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}