.box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    cursor: pointer;
    background-color: #12141f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.aura {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 204, 0, 0.7) 0%, rgba(255, 204, 0, 0.3) 30%, rgba(255, 204, 0, 0) 60%);
    animation: auraEffect 2s linear infinite;
}

@keyframes auraEffect {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

button:focus {
    outline: none;
}