.best-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Lugrasimo", cursive;
}

.best-modal-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}

.best-modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.best-modal-header img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
}

.best-modal-image {
    width: 100px !important;
    height: 100px !important;
}

.best-details {
    width: 400px;
}

.best-details-title {
    height: 5vmin;
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;

    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            #213,
            #112 5%,
            #112 60%,
            #213 95%);

    border: solid 5px transparent;
    border-radius: 8px;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);

    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;

    background-position: center center;

    animation: bg-spin 3s linear infinite;
}

.best-details-itens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.best-details-itens span,
.best-details-itens p {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.box:hover {
    animation-play-state: paused;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}