.best-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.best-modal-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}

.best-modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.best-modal-header img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
}

.best-modal-image {
    width: 100px !important;
    height: 100px !important;
}

.best-details {
    width: 400px;
}

.best-details-title {
    text-align: center;
    margin: 0;
    padding: 5px;
    border: 1px solid #fff;
}