.upload-container {
    width: 200px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    /* Adicionando para posição relativa */
    overflow: hidden;
    /* Adicionando para cortar a imagem excedente */
}

.preview {
    max-width: 100%;
    /* Limita a largura máxima da imagem ao tamanho do contêiner */
    max-height: 100%;
    /* Limita a altura máxima da imagem ao tamanho do contêiner */
    position: absolute;
    /* Adicionando para posição absoluta */
    top: 50%;
    /* Adicionando para centralizar verticalmente */
    left: 50%;
    /* Adicionando para centralizar horizontalmente */
    transform: translate(-50%, -50%);
    /* Centralizando a imagem */
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-label svg {
    margin-bottom: 10px;
}

.upload-input {
    display: none;
    width: 100%;
    height: 100%;
}

.upload-container.drag-over {
    background-color: #8b8b8b;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}