.content-config {
    width: calc(100% - 40px);
}

.grid-anime {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
}

.title-config {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-config button {
    border: 1px solid #e1e1e1;
    height: 40px;
    transition: all 0.5s;
}

.title-config button:hover {
    background-color: #fff;
    color: #131212;
}