.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #131212;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-extra {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    border: 1px solid #f8cf2bf3;
    border-radius: 8px 0 0 8px;
    font-size: 1em;
}

.search input:focus {
    outline: none;
}

.button-search {
    background-color: #131212;
    border: 1px solid #f8cf2bf3;
    border-radius: 0 8px 8px 0;
    height: 36px;
    width: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.user-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #f8cf2bf3;
    display: flex;
    align-items: center;
    justify-content: center;
}