.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alert a {
    cursor: pointer;
    margin-top: 5px;
}

.alert a:hover {
    text-decoration: underline;
    color: black;
}

.alert-success {
    background-color: #4CAF50;
}

.alert-info {
    background-color: #2196F3;
}

.alert-warning {
    background-color: #ff9800;
}

.alert-danger {
    background-color: #f44336;
}

.show {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hide {
    display: none;
}

.fixed-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}