.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
}

.modal.show {
    display: flex;
}

.modal-content {
    border: 1px solid #e72d2d;
    position: relative;
    background-color: #1e111d;
    width: 300px;
    max-height: calc(100vh - 100px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-track {
    margin: 50px 5px 10px 0;
    background: #1e111d;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #e72d2d;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #555;
}